$grid-width: 114rem;

$color-white: #fff;

$color-grey-medium: #707176;
$color-grey-dark: #747682;

$color-green-dark: #3d8168;

$color-black: #000;

$color-black-bluish: #242a31;

$color-cream: #f2e9e2;

$min-width: 768px;
